* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Big Shoulders Display;
    font-size: 15px;
}

:root {
    /* bright Orange */
    --color1: hsl(31, 77%, 52%);
    /* Dark Cyan */
    --color2: hsl(184, 100%, 22%);
    /* Very Dark Cyan */
    --color3: hsl(179, 100%, 13%);
    /* Transparent white (paragraphs): */
    --color4: hsla(0, 0%, 100%, 0.75);
    /* Very light gray (background, headings, buttons): */
    --color5: hsl(0, 0%,95%);

}


main {
    width: 80%;
    margin: 150px auto 100px auto;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-areas: "a b c";

}

main > section {
    padding: 35px;
}
main > section:nth-of-type(1){
    background-color: var(--color1);
    grid-area: a;
}

main > section:nth-of-type(2){
    background-color: var(--color2);
    grid-area: b;
}

main > section:nth-of-type(3){
    background-color: var(--color3);
    grid-area: c;
}
h1 {
    margin-top: 15px;
    font-size: 2rem;
    color: var(--color5);
}
p {
    height: 25vh;
    margin-top: 20px;
    font-size: 1.9em;
    color: var(--color4);
}

button {
    padding: 10px;
    border-radius: 20px;
    width: 7rem;
    margin-top: 20px;
}

.btnOne {
    color: var(--color1);
    border-color: transparent;
}

.btnTwo {
    color: var(--color2);
    border-color: transparent;
}

.btnThree {
    color: var(--color3);
    border-color: transparent;
}

@media screen and (min-width:768px) and (max-width:900px) {

    main {
        width: 90%;
        min-height: 45vh;
        margin-top: 250px;
    }
    p {

        height: 15vh;
        font-size: 1.7rem;
        text-align: left;
    }

    button {
    padding: 10px;
    border-radius: 20px;
    width: 7rem;
    margin-top: 150px;
    
    }
}

@media screen and (min-width:375px) and (max-width:400px) {

    main {
        width: 50%;
        display: block;
        margin-top: 50px auto;
    }
    section:nth-of-type(2), section:nth-of-type(3) {
    margin: auto;
    margin-top: 30px;
    }
    p {
        height: 15vh;
        font-size: smaller;
        text-align: left;
        
        }

    button {
    padding: 10px;
    border-radius: 20px;
    width: 7rem;
    margin-top: 10px;
    
    
    }
}